xsd/AvvikKartdata.xsd_SchematronSchema.xml

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <title>Schematron constraints for schema 'Avvik kartdata 1.0'</title>
  <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
  <ns prefix="app" uri="http://skjema.geonorge.no/SOSI/produktspesifikasjon/AvvikKartdata/1.0"/>
  <pattern>
    <rule context="app:AvvikEgenskapskvalitet">
      <assert test="count(app:område) + count(app:posisjon) + count(app:utstrekning) = 1">skal ha en og kun en av geometriene PUNKT, KURVE eller FLATE</assert>
    </rule>
    <rule context="app:AvvikFullstendighet">
      <assert test="count(app:område) + count(app:posisjon) + count(app:utstrekning) = 1">skal ha en og kun en av geometriene PUNKT, KURVE eller FLATE</assert>
    </rule>
    <rule context="app:AvvikGenerell">
      <assert test="count(app:område) + count(app:posisjon) + count(app:utstrekning) = 1">skal ha en og kun en av geometriene PUNKT, KURVE eller FLATE</assert>
    </rule>
    <rule context="app:AvvikKonsistenskontroller">
      <assert test="count(app:område) + count(app:posisjon) + count(app:utstrekning) = 1">skal ha en og kun en av geometriene PUNKT, KURVE eller FLATE</assert>
    </rule>
    <rule context="app:AvvikLogiskKonsistens">
      <assert test="count(app:område) + count(app:posisjon) + count(app:utstrekning) = 1">skal ha en og kun en av geometriene PUNKT, KURVE eller FLATE</assert>
    </rule>
    <rule context="app:AvvikStedfesting">
      <assert test="count(app:område) + count(app:posisjon) + count(app:utstrekning) = 1">skal ha en og kun en av geometriene PUNKT, KURVE eller FLATE</assert>
    </rule>
  </pattern>
</schema>
